@media only screen and (min-width: 600px)
.header-wrap.full {
    height: 4em;
}
@media only screen and (min-width: 980px)
.header-wrap {
    box-shadow: 0 0.375em 0 hsla(0,0%,0%,0.03);
}
@media only screen and (min-width: 600px)
.header-wrap {
    box-shadow: 0 0.375em 0 hsla(0,0%,0%,0.03);
}

@media only screen and (min-width: 980px)
.wrapper {
    width: 93.87755102040816%;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 600px)
.wrapper {
    width: 92.10526315789474%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 600px)
header {
    height: 4em;
}

@media only screen and (min-width: 980px)
.header-wrap.full #logo {
    margin-left: 4.23913043478261%;
}

@media only screen and (min-width: 720px)
.header-wrap.full #logo {
    width: 30%;
}
@media only screen and (min-width: 600px)
.header-wrap.full #logo {
    margin-left: 4.28571428571429%;
}
@media only screen and (min-width: 600px)
.header-wrap.full #logo {
    width: 30%;
    max-width: 240px;
    margin: 0 0 0 3.71428571428571%;
    line-height: 4em;
    display: block;
    float: left;
}

@media only screen and (min-width: 600px)
.header-wrap.full nav {
    width: 58.85714285714286%;
    float: right;
    display: inline-block;
}
@media only screen and (min-width: 600px)
.header-wrap.full nav ul li {
    width: 30.09708737864078%;
    margin: 0 4.85436893203883% 0 0;
}

@media only screen and (min-width: 980px)
nav ul li {
    width: 32.60869565217391%;
    margin: 0 1.08695652173913% 0 0;
}
@media only screen and (min-width: 600px) 
nav ul li {
    width: 31.42857142857143%;
    margin: 0 2.85714285714286% 0 0;
}
@media only screen and (min-width: 600px)
nav ul li a {
    width: 100%;
    height: 4em;
    line-height: 4em;
}